# Byte-compile / optimized / DLL files
__pycache__/

# Logs
bot.log

# Unit test / coverage reports
.pytest_cache/

# Sphinx documentation
docs/_build/

# poetry
poetry.lock

# Environments
venv/

# vars
*.env

# mypy
.mypy_cache/

.idea