# Byte-compile / optimized / DLL files
__pycache__

# Logs
bot.log

# Unit test / coverage reports
.pytest_cache

# poetry
poetry.lock

# Environments
dsAPI_secret.sec
db_secret.sec
test_db_secret.sec
venv/

# mypy
.mypy_cache
