# Secrets
dsAPI_secret.sec
db_secret.sec
test_db_secret.sec

# Byte-compile / optimized / DLL files
__pycache__/

# Logs
bot.log

# Unit test / coverage reports
.pytest_cache/

# Sphinx documentation
docs/_build/

# poetry
poetry.lock

# Environments
venv/

# mypy
.mypy_cache/
